/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

/*fjerne søgeknappen*/
/* .aa-DetachedSearchButtonIcon {display:none;}*/
 

.navbar-title, h1 {
  font-family: domine;
}
.footer {
  font-size: 12px;
}

h1 {
  font-size: 36px;

}
h2 {
  font-size: 20px;
  text-transform: uppercase;
}

a {
  color: #c92e5f;
  text-decoration: none;
}
a:hover {
  color: #f0a3bb;
}

nav {
  background-image: url("Christine_header.jpg");
  background-size: cover;
}
nav a span{
  color: black;
}
nav a span:hover {
  color: white;
}

nav .nav-item .active span{
  color: white !important;
}

.ai {
  font-size: 3em;
}
.bi {
  font-size: 2.4em;
}